<%- include('../admin/header-layout.ejs') %>

    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Recent Coupons</h6>
                <a href="/add-coupons">Add</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> -->
                            <th scope="col" style="width: 18rem;">Coupon name</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Expiry</th>
                            <th scope="col">Max Limit</th>
                            <th scope="col">Min purchase</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% coupons.forEach(function(Coupon) {%>
                            <tr>
                                <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                                <td>
                                    <%= Coupon.name %>
                                </td>
                                <td>
                                    <%= Coupon.discount %>%
                                </td>
                                <td>
                                    <% if(Coupon.expDate>dateTime){%>
                                    <%= Coupon.expDate.toDateString() %>
                                    <%}else{%>
                                        <p style="color: red;">expired</p>
                                        <%}%>
                                </td>
                                <td>
                                    <%= Coupon.maxLimit %> Items/pieces
                                </td>
                                <td>
                                    <%= Coupon.minPurchase %> Items/pieces
                                </td>
                                <td>
                                    <% if(Coupon.status == "blocked"){%>
                                        <a href="/couponUnblock/<%= Coupon._id %>"
                                            class="btn btn-outline-danger m-1"
                                            onclick="return confirm('Are you sure, you want to Unblock this Coupon ?')">Unblock</a>
                                    <%}else{%>
                                        <a href="/couponBlock/<%= Coupon._id %>"
                                            class="btn btn-outline-success m-1"
                                            onclick="return confirm('Are you sure, you want to Block this coupon ?')">Block</a>
                                            <%}%>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Recent Sales End -->
    <%- include('../admin/footer-layout.ejs') %>