<%- include("../admin/header-layout.ejs") %>
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center">Edit Product</h2>
                    <form action="/admin/edit-products/<%= product._id %>" method="post" enctype="multipart/form-data">
                        </br>
                        <input type="text" required name="name" class="form-control" value="<%= product.name %>"
                            style="border-color: grey;">
                        </br>
                        <input type="text" required name="price" class="form-control" value="<%= product.price %>"
                            style="border-color: grey;">
                        </br>
                        <input type="text" required name="description" class="form-control" value="<%= product.description %>"
                            style="border-color: grey;">
                        </br>

                        <select name="category" required style="border-color: grey;" class="form-select form-select-sm mb-3"
                            aria-label=".form-select-sm example">
                            <option selected>Select the category</option>
                            <% categories.forEach(function(Category) {%>
                                <option value="<%= Category.name %>">
                                    <%= Category.name %>
                                </option>
                                <%})%>
                        </select>
                        </br>
                        <input type="number" required name="stock" placeholder="Stock" class="form-control"
                            style="border-color: grey;">
                        <br>
                        <input type="file" multiple name="imgUrl" class="form-control">
                        <button type="submit" class="btn btn-success mt-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%- include("../admin/footer-layout.ejs") %>