<%- include('../admin/header-layout.ejs') %>
    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Recent Orders</h6>
                <a href="">Show All</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col">Date</th>
                            <th scope="col">Products</th>
                            <th scope="col">Quantity</th>
                            <th scope="col" style="width: 100px;">Status</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Place</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let i=-1; for( let data of viewProducts){ i +=1 %>
                            <% for(let prod of data.products) { %>
                                <tr>
                                    <td>
                                        <%= viewProducts[i].date %>
                                    </td>
                                    <td>
                                        <%= prod.productId.name %>
                                    </td>
                                    <td>
                                        <%= prod.quantity %>
                                    </td>
                                    <% if(prod.status=="Delivered" ){%>
                                        <td style="color: green;">
                                            <i class="fa-solid fa-check"></i>
                                            <%= prod.status %>
                                        </td>
                                        <%}else{%>
                                            <% if(prod.status=="Dispatched" ){%>
                                                <td style="color: orangered;">
                                                    <i class="fa-solid fa-check-double"></i>
                                                    <%= prod.status %>
                                                </td>
                                                <%}else{%>
                                                    <% if(prod.status=="Canceled" ){%>
                                                        <td style="color: red;">
                                                            <i class="fa-solid fa-ban"></i>
                                                            <%= prod.status %>
                                                        </td>
                                                        <%}else{%>
                                                            <% if(prod.status=="Order placed" ){%>
                                                                <td style="color: yellow;">
                                                                    <i class="fa-solid fa-dollar-sign"></i>
                                                                    <%= prod.status %>
                                                                </td>
                                                                <%}}}}%>
                                                                    <td>
                                                                        <%= viewProducts[i].user.name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= viewProducts[i].total %>
                                                                    </td>
                                                                    <td>
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    <%= viewProducts[i].address.address
                                                                                        %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <%= viewProducts[i].address.city %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <%= viewProducts[i].address.district
                                                                                        %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <%= viewProducts[i].address.state %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <%= viewProducts[i].address.country
                                                                                        %>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td>
                                                                        <% if(prod.status!="Canceled" ){%>
                                                                            <% if(prod.status!="Dispatched" && prod.status!="Delivered"){%>
                                                                        <a class="btn btn-sm btn-primary" style="width: 100px;"
                                                                            href="/dispatched/<%= prod.productId._id%>/<%= viewProducts[i]._id %>">Dispatched</a>
                                                                        <%}%>
                                                                        <% if(prod.status=="Dispatched" && prod.status!="Delivered"){%>
                                                                            <a class="btn btn-sm btn-success" style="width: 100px;"
                                                                            href="/delivered/<%= prod.productId._id %>/<%= viewProducts[i]._id %>">Delivered</a>
                                                                            <%}}%>
                                                                        </td>
                                </tr>
                                <%}%>
                                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Recent Sales End -->
    <%- include('../admin/footer-layout.ejs') %>