<%- include('../admin/header-layout.ejs') %>

    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Recent Products</h6>
                <a href="/add-products">Add</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> -->
                            <th scope="col" style="width: 18rem;">Product name</th>
                            <th scope="col">Category</th>
                            <th scope="col" style="width: 18rem;">Description</th>
                            <th scope="col" style="width: 5rem;">Price</th>
                            <th scope="col" style="width: 5rem;"><i class="fa-solid fa-tag"></i>Price</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(function(Product) {%>
                            <tr>
                                <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                                <td>
                                    <%= Product.name %>
                                </td>
                                <td>
                                    <%= Product.category %>
                                </td>
                                <td>
                                    <%= Product.description %>
                                </td>
                                <td>
                                    <% if(Product.discount != 0){%>
                                        <p style="text-decoration: line-through; color: red;"><i class="fa-solid fa-indian-rupee-sign"></i><%= Product.price %></p>
                                        <%}else{%>
                                            <i class="fa-solid fa-indian-rupee-sign"></i><%= Product.price %>
                                            <%}%>
                                </td>
                                <td>
                                    <% if(Product.discount != 0){%>
                                        <p style="color: green;"><i class="fa-solid fa-indian-rupee-sign"></i><%= Product.newPrice %></p>
                                        <%}else{%>
                                            <i class="fa-solid fa-indian-rupee-sign"></i><%= Product.price %>
                                            <%}%>
                                </td>
                                <td style="color: aqua;">
                                    <% if(Product.discount != 0){%>
                                        <%= Product.discount %>%
                                            <%}else{%>
                                                No Discount
                                                <%}%>
                                </td>
                                <% if(Product.stock==0 ){%>
                                    <td style="color: yellow; border-color: red;">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <%= Product.stock %>
                                    </td>
                                    <%}else{%>
                                        <td>
                                            <%= Product.stock %>
                                        </td>
                                        <%}%>
                                            <td><img src="/public/img/product_img/<%= Product.imgUrl[0] %>"
                                                    style="width: 100px;" alt=""></td>
                                            <td>
                                                <a class="btn m-1" style="border-color: yellow;"
                                                    href="/edit-products/<%= Product._id %>">Edit</a>
                                                <% if(Product.quantity == 1){%>
                                                    <a href="/productUnlist/<%= Product._id %>"
                                                        class="btn btn-outline-danger m-1"
                                                        onclick="return confirm('Are you sure, you want to Unlist <%= Product.name %> ?')">Unlist</a>
                                                <%}else{%>
                                                    <a href="/productList/<%= Product._id %>"
                                                        class="btn btn-outline-success m-1"
                                                        onclick="return confirm('Are you sure, you want to List <%= Product.name %> ?')">List</a>
                                                        <%}%>
                                            </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Recent Sales End -->
    <%- include('../admin/footer-layout.ejs') %>