<%- include('../admin/header-layout.ejs') %>

    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Recent Products</h6>
                <a href="/add-products">Add</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> -->
                            <th scope="col" style="width: 18rem;">Product name</th>
                            <th scope="col">Category</th>
                            <th scope="col" style="width: 18rem;">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(function(Product) {%>
                            <tr>
                                <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                                <td>
                                    <%= Product.name %>
                                </td>
                                <td>
                                    <%= Product.category %>
                                </td>
                                <td>
                                    <%= Product.description %>
                                </td>
                                <td>
                                    <%= Product.price %>
                                </td>
                                <td><img src="/public/img/product_img/<%= Product.imgUrl[0] %>" style="width: 100px;" alt=""></td>
                                <td>
                                    <a class="btn btn-sm btn-success" href="/edit-products/<%= Product._id %>">Edit</a>
                                    <a href="../admin/productManage/<%= Product._id %>" class="btn btn-danger m-1"
                                        onclick="return confirm('Are you sure, you want to delete <%= Product.name %> ?')">Delete</a>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Recent Sales End -->
    <%- include('../admin/footer-layout.ejs') %>