<%- include('../admin/header-layout.ejs') %>

        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Recent Users</h6>
                    <a href="">Show All</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">

                        <thead>
                            <tr class="text-white">
                                <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> -->
                                <th scope="col" style="width: 50px;">Joined</th>
                                <th scope="col">Full name</th>
                                <!-- <th scope="col">User type</th> -->
                                <th scope="col">Email address</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% users.forEach(function(User) {%>
                                <tr>
                                    <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                                    <td>
                                        <%= User.date %>
                                    </td>
                                    <td>
                                        <%= User.name %>
                                    </td>
                                    <!-- <td>
                                    <%= %>
                                </td> -->
                                    <td>
                                        <%= User.email %>
                                    </td>
                                    <% if (User.isActive){ %>
                                        <td style="color:green;">Active</td>
                                        <% }else {%>
                                            <td style="color:red;">Blocked</td>
                                            <% } %>
                                                <td>
                                                    <% if(User.isActive){ %>
                                                        <form action="/admin/blockuser/<%= User.id %>" method="post">
                                                            <button type="submit"
                                                                class="btn btn-sm btn-primary">Block</button>
                                                        </form>
                                                        <% } else { %>
                                                            <form action="/admin/activeUser/<%= User.id %>"
                                                                method="post">
                                                                <button type="submit"
                                                                    class="btn btn-sm btn-success">UnBlock</button>
                                                            </form>
                                                            <% } %>
                                                </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Recent Sales End -->


        <%- include('../admin/footer-layout.ejs') %>