<%- include('header-layout.ejs') %>

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-7">
                    <!-- Shiping Details -->
                    <div class="shiping-details">
                        <div class="section-title text-center">
                            <h3 class="title">Shiping address</h3>
                        </div>
                        <div class="container" style="width: 50rem;">
                            <form>
                                <div class="caption">
                                    <div class="form-group">
                                        <input class="input" type="text" name="first_name"
                                            value="<%= address[0].first_name %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="last_name"
                                            value="<%= address[0].last_name %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="email" name="email" value="<%= address[0].email %>">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email
                                            with
                                            anyone
                                            else.</small>
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="address"
                                            value="<%= address[0].address %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="city" value="<%= address[0].city %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="district"
                                            value="<%= address[0].district %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="state" value="<%= address[0].state %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="country"
                                            value="<%= address[0].country %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="zip" value="<%= address[0].zip %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="tel" name="tel" value="<%= address[0].tel %>">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="shiping-address">
                            <label for="shiping-address">
                                <span></span>
                                Ship to a diffrent address?
                            </label>
                            <div class="caption">
                                <!-- <div class="form-group">
                                    <input class="input" type="text" name="first-name" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="last-name" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="address" placeholder="Address">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="city" placeholder="City">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="country" placeholder="Country">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="zip-code" placeholder="ZIP Code">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="tel" name="tel" placeholder="Telephone">
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- /Shiping Details -->
                </div>
                <form>
                    <!-- Order Details -->
                    <div class="col-md-5 order-details">
                        <div class="section-title text-center">
                            <h3 class="title">Your Order</h3>
                        </div>
                        <div class="order-summary">
                            <div class="order-col">
                                <div><strong>PRODUCT</strong></div>
                                <div><strong>TOTAL</strong></div>
                            </div>
                            <div class="order-products">
                                <%viewcart.products.forEach((data)=>{%>
                                    <div class="order-col">
                                        <div>
                                            <%= data.quantity %>x <%= data.productId.name %>
                                        </div>
                                        <div>₹<%=data.subTotal%>
                                        </div>
                                    </div>
                                    <%})%>
                                        <!-- <div class="order-col">
                                <div>2x Product Name Goes Here</div>
                                <div> ₹980.00</div>
                            </div> -->
                            </div>
                            <div class="order-col">
                                <div>Shiping</div>
                                <div><strong>FREE</strong></div>
                            </div>
                            <div class="order-col">
                                <div><strong>TOTAL</strong></div>
                                <div><strong class="order-total">₹<%= viewcart.total %></strong></div>
                            </div>
                        </div>
                        <div class="payment-method">
                            <div class="input-radio">
                                <input type="radio" name="payment" id="payment-1" value="1" required>
                                <label for="payment-1">
                                    <span></span>
                                    Cash on delivery
                                </label>
                                <div class="caption">
                                    <p>Please use this payment method only if you are certain that someone will be
                                        available
                                        to receive and pay for your order upon delivery. If you intend to leave the
                                        address
                                        you provided, kindly endorse your payment to another party to ensure your order
                                        is
                                        delivered successfully. The standard, but not guaranteed, timeframe for shipping
                                        is
                                        between 2 and 7 days.</p>
                                </div>
                            </div>
                            <div class="input-radio">
                                <input type="radio" name="payment" id="payment-2" value="2">
                                <label for="payment-2">
                                    <span></span>
                                    Razorpay
                                </label>
                                <div class="caption">
                                    <p>The price and availability of items at BRING are subject to change. The shopping
                                        cart is a temporary place to store a list of your items and reflects each item's
                                        most recent price.
                                        Do you have a promotional code? We'll ask you to enter your claim code when it's
                                        time to pay.</p>
                                </div>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" required id="terms">
                            <label for="terms">
                                <span></span>
                                I've read and accept the <a href="#">terms & conditions</a>
                            </label>
                        </div>
                        <a href="/placeOrder" onclick="myPayment()" class="primary-btn order-submit">Place order</a>
                    </div>
                    <!-- /Order Details -->
                </form>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <script>
        function myPayment() {
            var g = document.getElementById("payment-1").required;
            document.getElementById("sudo").innerHTML = g;
        }
    </script>

    <%- include('footer-layout.ejs') %>