<%- include('header-layout.ejs') %>

    <!-- SECTION -->
    <div class="section" style="min-height: 100vh;">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-7">
                    <!-- Shiping Details -->
                    <div class="shiping-details">
                        <div class="section-title text-center">
                            <h3 class="title">Shiping address</h3>
                        </div>
                        <div class="container" style="width: 35rem;">
                            <form>
                                <div class="caption">
                                    <div class="form-group">
                                        <input class="input" type="text" name="first_name"
                                            placeholder="<%= address[0].first_name %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="last_name"
                                            placeholder="<%= address[0].last_name %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="email" name="email" placeholder="<%= address[0].email %>">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email
                                            with
                                            anyone
                                            else.</small>
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="address"
                                            placeholder="<%= address[0].address %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="city" placeholder="<%= address[0].city %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="district"
                                            placeholder="<%= address[0].district %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="state" placeholder="<%= address[0].state %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="country"
                                            placeholder="<%= address[0].country %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="text" name="zip" placeholder="<%= address[0].zip %>">
                                    </div>
                                    <div class="form-group">
                                        <input class="input" type="tel" name="tel" placeholder="<%= address[0].tel %>">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="shiping-address">
                            <label for="shiping-address">
                                <span></span>
                                Ship to a diffrent address?
                            </label>
                            <div class="caption">
                                <!-- <div class="form-group">
                                    <input class="input" type="text" name="first-name" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="last-name" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="address" placeholder="Address">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="city" placeholder="City">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="country" placeholder="Country">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="zip-code" placeholder="ZIP Code">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="tel" name="tel" placeholder="Telephone">
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- /Shiping Details -->
                </div>
                <form id="checkout-form">
                    <!-- Order Details -->
                    <div class="col-md-5 order-details">
                        <div class="section-title text-center">
                            <h3 class="title">Your Order</h3>
                        </div>
                        <div class="order-summary">
                            <div class="order-col">
                                <div><strong>PRODUCT</strong></div>
                                <div><strong>TOTAL</strong></div>
                            </div>
                            <div class="order-products">
                                <%viewcart.products.forEach((data)=>{%>
                                    <div class="order-col">
                                        <div>
                                            <%= data.quantity %>x <%= data.productId.name %>
                                        </div>
                                        <div>₹<%=data.subTotal%>
                                        </div>
                                    </div>
                                    <%})%>
                            </div>
                            <div class="order-col">
                                <div>Shiping</div>
                                <div><strong>FREE</strong></div>
                            </div>
                            <% if(viewcart.grandTotal != 0){%>
                                <div class="order-col">
                                    <div><strong>TOTAL</strong></div>
                                    <div><strong class="order-total" style="text-decoration: line-through;">₹<%= viewcart.total %></strong></div>
                                </div>
                                <div class="order-col">
                                    <div>Coupon applied</div>
                                    <div id="strong">You need to pay only <strong class="order-total">₹<%= viewcart.grandTotal %></strong></div>
                                </div>
                                <a class="primary-btn order-submit" style="width: 200px;" href="/removeCoupon">Remove coupon</a>
                                <%}else{%>
                                    <div class="order-col">
                                        <div><strong>TOTAL</strong></div>
                                        <div><strong class="order-total">₹<%= viewcart.total %></strong></div>
                                    </div>
                                    <%}%>
                        </div>
                            <br>
                                <div class="form-check">
                                    <label for="cod">
                                        <input class="form-check-input" type="radio" id="cod" name="paymentType" checked
                                            value="cod">
                                        Cash on delivery </i>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label for="online-payment">
                                        <input class="form-check-input" id="online-payment" type="radio"
                                            name="paymentType" value="razorpay">
                                        Online Payment </i>
                                    </label>
                                </div>
                                <button type="submit" class="primary-btn order-submit" style="background-color: green;">Place order</button>
                    </div>
                    <!-- /Order Details -->
                </form>

                <%if(viewcart.grandTotal == 0){%>
                    <div>
                        <form id="couponCode">
                            Coupon:
                            <input type="text" maxlength="8" name="coupon">
                            <button type="submit" class="primary-btn order-submit">Apply</button>
                        </form>
                    </div>
                    <%}%>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <%- include('footer-layout.ejs') %>