<%- include('header-layout.ejs') %>



    <!-- form -->
    <div class="container" style="width: 50rem;">
        <form action="/editProfile/<%= user._id %>" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" name="name" value="<%= user.name %>">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    value="<%= user.email %>">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <!-- <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                    placeholder="">
            </div> -->
            <!-- <div class="form-group">
                <label for="exampleInputPassword1">Re-enter the Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
            </div> -->
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>



    
    <%- include('footer-layout.ejs') %>