<%- include('header-layout.ejs') %>



    <div class="row">
        <div class="col-md-6">
            <div class="section-title text-center">
                <h3 class="title">Details</h3>
            </div>
            <!-- form -->
            <div class="container" style="width: 50rem;">
                <form action="/editProfile/<%= user._id %>" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" name="name" value="<%= user.name %>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="<%= user.email %>">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
                <div style="margin-top: 30px;">
                    <a href="/changePassword/<%=user._id%>"><button type="button" class="btn btn-danger">Change
                            Password?</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <%if(!data.address[0]){%>
                <div class="section-title text-center">
                    <h3 class="title"> Address</h3>
                </div>
                <div class="container" style="width: 50rem;">
                    <form action="/newAddress" method="post">
                        <div class="caption">
                            <div class="form-group">
                                <input class="input" type="text" name="first_name" placeholder="First name">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="last_name" placeholder="Last name">
                            </div>
                            <div class="form-group">
                                <input class="input" type="email" name="email" placeholder="Email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="address" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="city" placeholder="City">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="district" placeholder="District">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="state" placeholder="State">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="country" placeholder="Country">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="zip" placeholder="Pincode">
                            </div>
                            <div class="form-group">
                                <input class="input" type="tel" name="tel" placeholder="Phone number">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">+Add</button>
                    </form>
                </div>
                <%}%>
        </div>
        <div class="col-md-6">
            <%for (let address of data.address){%>
                <div class="section-title text-center">
                    <h3 class="title"> Address</h3>
                </div>
                <div class="container" style="width: 50rem;">
                    <form action="/address/<%= user._id%>" method="post">
                        <div class="caption">
                            <div class="form-group">
                                <input class="input" type="text" name="first_name" value="<%= address.first_name %>">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="last_name" value="<%= address.last_name %>">
                            </div>
                            <div class="form-group">
                                <input class="input" type="email" name="email" value="<%= address.email %>">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="address" value="<%= address.address %>">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="city" value="<%= address.city %>">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="district" value="<%= address.district %>">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="state" value="<%= address.state %>">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="country" value="<%= address.country %>">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="zip" value="<%= address.zip %>">
                            </div>
                            <div class="form-group">
                                <input class="input" type="tel" name="tel" value="<%= address.tel %>">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </form>
                </div>
                <%}%>

        </div>
    </div>
    <div class="row">

    </div>
    <%- include('footer-layout.ejs') %>