<%- include('header-layout.ejs') %>



    <div class="row">
        <div class="col-md-6">
            <div class="section-title text-center">
                <h3 class="title">Details</h3>
            </div>
            <!-- form -->
            <div class="container" style="width: 50rem;">
                <form action="/editProfile/<%= user._id %>" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" name="name" value="<%= user.name %>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="<%= user.email %>">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <!-- <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                    placeholder="">
            </div> -->
                    <!-- <div class="form-group">
                <label for="exampleInputPassword1">Re-enter the Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
            </div> -->
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="section-title text-center">
                <h3 class="title">Address</h3>
            </div>
            <div class="container" style="width: 50rem;">
                <form action="/address/<%= user._id%>" method="post">
                    <div class="caption">
                        <div class="form-group">
                            <input class="input" type="text" name="first-name" value="<%= user.name %>">
                        </div>
                        <!-- <div class="form-group">
                            <input class="input" type="text" name="last-name" placeholder="Last Name">
                        </div> -->
                        <div class="form-group">
                            <input class="input" type="email" name="email" value="<%= user.email %>">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="address" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" placeholder="City">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="country" placeholder="Country">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="zip-code" placeholder="ZIP Code">
                        </div>
                        <div class="form-group">
                            <input class="input" type="tel" name="tel" placeholder="Telephone">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <%- include('footer-layout.ejs') %>